#home {
  text-align: center;
  margin: 0 auto;
  max-width: 600px; /* Adjust the max-width as needed */
}

#home img {
  max-width: 100%; /* Make sure images don't exceed their container */
  height: auto;
}

#home div {
  margin-bottom: 20px;
}
img {
  border-radius: 50%;
  border: 10px solid #8a8d8f;
}

a i.fa {
  color: #333;
  font-size: 24px;
  margin: 0 5px;
}

a {
  text-decoration: none;
  margin: 0 5px;
}
section {
  align-items: center;
  margin-bottom: 50px;
  font-size: 24px;
}
